<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :github_name, style: "display: block" %>
    <%= form.text_field :github_name %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <%# List of existing skills %>
  <div>
    <%= form.label :skills, style: "display: block" %>

    <%# display all skills, with option to remove each one %>
    <% project.skills.each do |skill| %>
      <div>
        <%= skill.name %>
        <%= form.check_box :skills, { multiple: true, checked: true }, skill.id, nil %>
      </div>
    <% end %>

    <%# select input and add button to add a new skill to the list %>
    <div>
      <%= form.select :skills, Skill.all.map { |skill| [skill.name, skill.id] }, { include_blank: true }, { multiple: true } %>
      <%= form.button "Add" %>
    </div>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
