<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <div class="projectPanel">
    <%= render project %>
    <p>
      <%= link_to "Show this project", project_url(project.slug) %> | 
      <%= link_to "Edit this project", edit_project_path(project.slug) %> 
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
